// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// FontAwesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

.bg-green {
    background-color: #658e7c;
}

.btn-green {
    border: none !important;
    background-color: #658e7c !important;
    color: #fff !important;
}

.btn-blue {
    border: none !important;
    background-color: #80b5d6 !important;
    color: #fff !important;
}

.btn-orange {
    border: none !important;
    background-color: #e3bb90 !important;
    color: #fff !important;
}

.header-green {
    color: #658e7c;
    font-weight: bolder;
}

.btn-none {
    background: transparent;
}

.login {
    background: #c8f6e2;
}

.login-header {
    font-size: 1.5em;
    text-align: center;
    color: #035c50;
    font-weight: bold;
}

.profile_picture {
    width:  100px;
    height: 100px;
    object-fit:cover;
	border-radius:50%;
	object-position:-20px 0px;
}

a {
    color: black;
    text-decoration: none;
  }

.my-header {
    position: fixed; /* ヘッダーを固定位置にする */
    background-color: #658e7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    top: 0; /* 上部に固定 */
    width: 100%; /* 画面幅に合わせる */
    z-index: 1000; /* 他の要素の上に表示するための z-index 設定 */
}

.body {
    padding-top: 80px; /* ヘッダーの高さに合わせる */
}

.my-card {
    border: 1px solid #ccc; /* ボーダーを追加 */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.my-card-header {
    /* カスタムスタイルを定義 */
    background-color: #ceebdf;
    color: #333;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-card-footer {
    background-color: #ceebdf;
    color: #333;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-custom-green {
    background-color: #658e7c;
    color: white;
}